@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a,
button {
  cursor: pointer;
  color: inherit;
  border: none;
}

body {
  color: #012b6b;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._lock {
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.content,
.header,
.footer {
  width: 100%;
}

.container {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1023.8px) {
  .container {
    padding: 0px 10px;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  height: 12000px;
}

.blocks {
  margin-left: 215px;
}

.sidebar {
  float: left;
  will-change: min-height;
}
.sidebar-inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  max-width: 280px;
  border-radius: 0px;
  background: #012b6b;
  box-shadow: 4px 0px 7px 2px rgba(1, 43, 107, 0.23);
  height: calc(100% - 20px);
  margin: 10px 0;
  z-index: 111;
  overflow: hidden;
}
.sidebar-header {
  width: calc(100% - 7px);
  font-size: 20px;
  line-height: 22px;
  padding: 18px 15px;
  color: #012b6b;
  background: #fff;
  border-radius: 0px 0px 20px 0px;
  margin-bottom: 23px;
}
.sidebar-header h3 {
  margin: 0;
}

.sidebar-menu {
  max-height: calc(100% - 140px);
  overflow: auto;
  color: #fff;
  /* ползунок скроллбара */
}
.sidebar-menu::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #143861;
}
.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #cd242b;
  border-radius: 9em;
}
.sidebar-menu::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}
.sidebar-menu__list {
  list-style: none;
  margin: 0;
  height: auto;
  padding: 0;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar-menu__item a {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  position: relative;
}
.sidebar-menu__item a::before {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 3px 0 0 3px;
}
.sidebar-menu__item a .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.sidebar-menu__item a .descr {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  opacity: 0.8;
  padding-top: 10px;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
}
.title._min {
  width: 65%;
  text-align: left;
  font-size: 20px;
  line-height: 120%;
}

.statistics {
  color: #fff;
  background: #012b6b;
  padding: 50px 0 17px;
}
.statistics__wrapper {
  margin-top: 35px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.statistics__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
}
.statistics__name {
  padding: 7px 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  background: #0064b0;
  flex: 0 0 450px;
  border-radius: 40px;
}
.statistics__value {
  padding: 7px 12px;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  background: #cd242b;
  border-radius: 40px;
}
.statistics__footer {
  margin-top: 50px;
  border-top: 1px solid #ffffff;
  padding: 9px 15px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #d1d3d4;
}

@media (max-width: 1023.8px) {
  .statistics {
    padding: 40px 0 17px;
  }
  .statistics__wrapper {
    padding: 0 0px;
    margin-top: 35px;
    gap: 25px;
  }
  .statistics__item {
    gap: 15px;
    align-items: stretch;
  }
  .statistics__name {
    padding: 7px 12px;
    font-weight: 400;
    font-size: 16px;
    flex: 1 1 auto;
  }
  .statistics__value {
    padding: 7px 12px;
    font-weight: 400;
    font-size: 16px;
    flex: 1 1 auto;
    border-radius: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .statistics__footer {
    margin-top: 50px;
    border-top: 1px solid #ffffff;
    padding: 9px 15px 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: #d1d3d4;
  }
}
.info {
  color: #fff;
  background: #012b6b;
  padding: 50px 0px 60px;
  position: relative;
}
.info .container {
  position: relative;
}
.info__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px 36px;
  flex-wrap: wrap;
}
.info .title {
  margin-bottom: 30px;
}
.info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
}
.info__text p {
  margin: 15px 0;
}
.info__text p b {
  font-weight: 700;
}
.info__text p:first-of-type {
  padding-top: 0;
  margin-top: 0;
}
.info__text img {
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  width: 331px;
  height: 247px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 20px;
}

@media (max-width: 1023.8px) {
  .info {
    padding-top: 40px 0px;
  }
  .info__content p:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .info h2 {
    font-size: 30px;
  }
  .info__text {
    font-size: 14px;
  }
  .info__text img {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
.queston {
  color: #fff;
  background: #012b6b;
  padding: 50px 0px 60px;
  position: relative;
}
.queston .btn {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 30px;
}
.queston._reverse .container {
  flex-direction: row-reverse;
}
.queston._reverse .container::after {
  display: none;
}
.queston._reverse .container::before {
  display: none;
}
.queston._reverse .btn {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
}
.queston .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap-reverse;
  position: relative;
}
.queston .container::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -150px;
  width: 400px;
  height: 457px;
  background: url("../img/elements.svg") center center/contain no-repeat;
  transform: rotate(92.78deg);
}
.queston .container::before {
  content: "";
  display: block;
  position: absolute;
  left: -350px;
  bottom: -10px;
  width: 400px;
  height: 457px;
  background: url("../img/elements.svg") center center/contain no-repeat;
  transform: rotate(92.78deg);
}
.queston__block {
  flex: 0 0 330px;
  padding: 30px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  position: relative;
  z-index: 1;
}
.queston__block p {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  color: #012b6b;
}
.queston__block::after, .queston__block::before {
  content: "";
  display: block;
  width: 44px;
  height: 40px;
  position: absolute;
  background: url("../img/q.svg") center center/contain no-repeat;
}
.queston__block::after {
  bottom: -20px;
  right: -12px;
}
.queston__block::before {
  top: -20px;
  left: -12px;
  transform: rotate(180deg);
}
.queston__author {
  position: relative;
  z-index: 1;
  flex: 0 0 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.queston__photo {
  width: 290px;
  height: 310px;
  border-radius: 41px;
}
.queston__photo img {
  width: 130%;
  height: 130%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  -o-object-position: top center;
     object-position: top center;
}
.queston__tablo {
  margin-top: -47px;
  padding: 15px;
  gap: 7px;
  background: #ffffff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #012b6b;
}

@media (max-width: 1023.8px) {
  .queston .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .queston .container::after {
    display: none;
  }
  .queston._reverse .container {
    flex-direction: column;
  }
  .queston._reverse .btn {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    width: 100%;
  }
  .queston .btn {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    width: 100%;
  }
  .queston__block {
    flex: 0 0 auto;
    max-width: 340px;
    width: 100%;
  }
  .queston__author {
    flex: 0 0 auto;
    max-width: 340px;
    width: 100%;
  }
}
.logos {
  padding: 50px 0px 60px;
  position: relative;
}
.logos__wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px 50px;
  margin-top: 50px;
}
.logos__wrapper:first-of-type {
  margin-bottom: 50px;
}
.logos__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(15% - 15px);
}
@media (max-width: 1023.8px) {
  .logos__item {
    flex: 1 1 calc(25% - 15px);
  }
}
@media (max-width: 767.8px) {
  .logos__item {
    flex: 1 1 calc(30% - 15px);
  }
}

.contacts {
  color: #012b6b;
  padding: 50px 0px 80px;
  position: relative;
}
.contacts__wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 50px;
}
.contacts__blocks {
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  border: 1px solid #012b6b;
  border-radius: 20px;
  background: #ffffff;
}
.contacts__blocks h3 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.contacts__blocks p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.footer {
  padding: 35px 0;
  background: #012b6b;
  color: #ffffff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.footer__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.footer__item::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
}
.footer__item._tel::before {
  background: url("../img/tel.svg") center center/contain no-repeat;
}
.footer__item._mail::before {
  background: url("../img/email.svg") center center/contain no-repeat;
}

@media (max-width: 1023.8px) {
  .footer__item {
    font-size: 14px;
    line-height: 16px;
  }
}
.how-reader {
  color: #fff;
  background: #012b6b;
  padding: 50px 0px 60px;
  position: relative;
}
.how-reader .container {
  overflow: visible;
  background: url("../img/elem.svg") bottom right/contain no-repeat;
}
.how-reader__text {
  margin-top: 30px;
}
.how-reader__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  text-align: justify;
  margin-bottom: 20px;
}
.how-reader__text ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 12px;
}
.how-reader__text ul li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.how-reader__text ul li:before {
  font-weight: 400;
  color: #cd242b;
  content: "•";
  font-size: 20px;
  padding-right: 15px;
}

.programs {
  padding: 50px 0 90px;
}
.programs .container {
  overflow: visible;
  background: url("../img/elem.svg") center center/contain no-repeat;
}
.programs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.programs__item {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.programs__top {
  font-weight: 400;
  font-size: 14px;
  line-height: 250%;
  color: #ffffff;
  background: #0064b0;
  box-shadow: 0px -6px 3px -4px rgba(0, 0, 0, 0.25);
  border-radius: 40px 40px 0px 0px;
  padding: 3px 46px;
}
.programs__content {
  flex: 1 1 100%;
  width: 100%;
  background: #ffffff;
  box-shadow: 5px -4px 6px -2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 40px 40px;
  padding: 18px 46px;
  background: #ffffff;
  box-shadow: 5px -4px 6px -2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 40px 40px;
}

._white {
  background: #fff;
  color: #012b6b;
}
._white .btn {
  background: #012b6b;
}
._white .btn:hover {
  background: #011738;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 12px;
  max-width: 330px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #0095da;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  margin-top: 30px;
}
.btn:hover {
  background: #0eb3ff;
}

.main {
  padding: 0;
  padding: 65px 0px;
  background: #012b6b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main img {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */