@import 'utils/variables';
@import 'mixins/media';

@import 'common/global';

@import 'pages/_sidebar';

.title {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	text-align: center;
	&._min {
		width: 65%;
		text-align: left;
		font-size: 20px;
		line-height: 120%;
	}
}

@import 'pages/statistics';
@import 'pages/info';
@import 'pages/queston';
@import 'pages/logos';
@import 'pages/contacts';
@import 'pages/how-reader';
@import 'pages/programs';

._white {
	background: #fff;
	color: #012b6b;
	.btn {
		background: #012b6b;
		&:hover {
			background: darken($color: #012b6b, $amount: 10);
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	padding: 12px;
	max-width: 330px;
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	background: #0095da;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
	border-radius: 40px;
	margin-top: 30px;
	&:hover {
		background: lighten($color: #0095da, $amount: 10);
	}
}

// Страницы и блоки
.main {
	padding: 0;
	padding: 65px 0px;
	background: #012b6b;
	display: flex;
	justify-content: center;
	align-items: center;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		max-width: 100%;
	}
}
