.how-reader {
	color: #fff;
	background: #012b6b;
	padding: 50px 0px 60px;
	position: relative;
	.container {
		overflow: visible;
		background: url('../img/elem.svg') bottom right / contain no-repeat;
	}
	.title {
		max-width: 600px;
		margin: 0 auto;
		@include media-mobile-horizontal {
			font-size: 18px;
		}
	}
	&__block {
		max-width: 600px;
		margin: 0 auto;
		margin-top: 30px;
		background: #ffffff;
		color: #012b6b;
		border-radius: 15px;
		padding: 15px 30px;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		@include media-mobile-horizontal {
			font-size: 14px;
			padding: 20px 15px;
		}
		p {
			margin: 0;
		}
		a {
			color: #ec0f2a;
		}
	}
	.btn-center {
		text-align: center;
		margin: 0 auto;
		margin-top: 50px;
	}
	&__text {
		margin-top: 30px;
		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			margin: 0;
			text-align: justify;
			margin-bottom: 20px;
		}
		ul {
			list-style: none;
			display: flex;
			padding: 0;
			margin: 0;
			flex-direction: column;
			gap: 12px;
			li {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				&:before {
					font-weight: 400;
					color: #cd242b;
					content: '•';
					font-size: 20px;
					padding-right: 15px;
				}
			}
		}
	}
}
