.logos {
	padding: 50px 0px 60px;
	position: relative;
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 30px 50px;
		margin-top: 50px;
		&:first-of-type {
			margin-bottom: 50px;
		}
		@include media-mobile-horizontal {
			flex: 1 1 calc(30% - 15px);
			gap: 20px 45px;
		}
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		flex: 1 1 calc(15% - 15px);
		@include media-tablet {
			flex: 1 1 calc(25% - 15px);
		}
		@include media-mobile-horizontal {
			flex: 1 1 calc(30% - 15px);
			img {
				padding: 17px;
				width: auto;
				height: auto;
				object-fit: contain;
				image-rendering: optimizeSpeed;
			}
		}
	}
	// img {
	// 	flex: 1 1 25%;
	// 	object-fit: contain;
	// }
}
