.queston {
	color: #fff;
	background: #012b6b;
	padding: 50px 0px 60px;
	position: relative;
	.btn {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0 30px;
	}
	&._reverse {
		.container {
			flex-direction: row-reverse;
			&::after {
				display: none;
			}
			&::before {
				display: none;
			}
		}
		.btn {
			position: absolute;
			left: auto;
			right: 0;
			bottom: 0;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		flex-wrap: wrap-reverse;
		position: relative;
		&::after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: -150px;
			width: 400px;
			height: 457px;
			background: url('../img/elements.svg') center center / contain no-repeat;
			transform: rotate(92.78deg);
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: -350px;
			bottom: -10px;
			width: 400px;
			height: 457px;
			background: url('../img/elements.svg') center center / contain no-repeat;
			transform: rotate(92.78deg);
		}
	}
	&__block {
		flex: 0 0 330px;
		padding: 30px 15px;
		background: #ffffff;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		position: relative;
		position: relative;
		z-index: 1;
		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 120%;
			text-align: center;
			margin: 0;
			color: #012b6b;
		}
		&::after,
		&::before {
			content: '';
			display: block;
			width: 44px;
			height: 40px;
			position: absolute;
			background: url('../img/q.svg') center center / contain no-repeat;
		}
		&::after {
			bottom: -20px;
			right: -12px;
		}
		&::before {
			top: -20px;
			left: -12px;
			transform: rotate(180deg);
		}
	}
	&__author {
		position: relative;
		z-index: 1;
		flex: 0 0 290px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__photo {
		width: 290px;
		height: 310px;
		border-radius: 41px;
		img {
			width: 130%;
			height: 130%;
			object-fit: cover;
			border-radius: 40px;
			object-position: top center;
		}
	}
	&__tablo {
		margin-top: -40px;
		padding: 15px;
		gap: 7px;
		background: #ffffff;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		color: #012b6b;
		font-size: 12px;
	}
}

@include media-tablet {
	.queston {
		.container {
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&::after {
				display: none;
			}
		}
		&._reverse {
			.container {
				flex-direction: column;
			}
			.btn {
				position: relative;
				left: auto;
				right: auto;
				bottom: auto;
				margin: 0;
				width: 100%;
			}
		}
		.btn {
			position: relative;
			left: auto;
			right: auto;
			bottom: auto;
			margin: 0;
			width: 100%;
		}
		&__block {
			flex: 0 0 auto;
			max-width: 340px;
			width: 100%;
		}
		&__author {
			flex: 0 0 auto;
			max-width: 340px;
			width: 100%;
		}
	}
}
